<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="logo-titulo">
      <img src="../../../assets/logo.svg" alt="JK Sabonetes Artesanais" />
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="titulo">
    <h1>Sobre</h1>
  </div>

  <!-- Apresentação da Loja -->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">JK Sabonetes Artesanais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Somos apaixonados por cuidar da sua pele com produtos naturais e feitos com carinho.</p>
      <p>Nossos sabonetes artesanais combinam beleza, aroma e bem-estar.</p>
      <p>Perfeitos para presentear ou se mimar.✨</p>
    </ion-card-content>
  </ion-card>

  <!-- Missão -->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Missão🎯</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
  Nossa missão é proporcionar bem-estar e cuidado à pele através de sabonetes artesanais de alta qualidade, feitos com ingredientes naturais e sustentáveis. 🌿
</p>
  
    </ion-card-content>
  </ion-card>

  <!-- Visão -->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Visão🌟</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ser uma referência no mercado de cosméticos naturais, oferecendo aos nossos clientes produtos que promovem saúde, beleza e sustentabilidade.💎 </p>
      
    </ion-card-content>
  </ion-card>

  <!-- Valores -->
  <ion-card> <!-- ADICIONADO AQUI -->
    <ion-card-header>
      <ion-card-title style="text-align: center;">Valores💎</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="valor">
      <ul>
        <li>💚 Amor pelo que fazemos</li>
        <li>♻️ Sustentabilidade</li>
        <li>⭐ Qualidade e confiabilidade</li>
      </ul>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>
